<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Login</h2>

    <%= form_with(url: login_path, local: true) do |form| %>
      <% if flash[:alert] %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
          <span class="block sm:inline"><%= flash[:alert] %></span>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :email, class: "block text-gray-700" %>
        <%= form.email_field :email, autofocus: true, required: true, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>

      <div class="mb-4">
        <%= form.label :password, class: "block text-gray-700" %>
        <%= form.password_field :password, required: true, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>

      <div class="mb-4 flex items-center justify-between">
        <%= form.submit "Login", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <%= link_to "Register", register_path, class: "text-blue-500 hover:text-blue-700" %>
      </div>
    <% end %>
  </div>
</div>
