<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="mb-4">
      <h2 class="text-red-600"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li class="text-red-600"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :email, class: "block text-gray-700" %>
    <%= form.email_field :email, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
  </div>

  <div class="mb-4">
    <%= form.label :password, class: "block text-gray-700" %>
    <%= form.password_field :password, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
  </div>

  <div class="mb-4">
    <%= form.label :password_confirmation, class: "block text-gray-700" %>
    <%= form.password_field :password_confirmation, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
  </div>

  <div class="mb-4">
    <%= form.label :seller, class: "block text-gray-700" %>
    <%= form.check_box :seller, class: "mt-1" %>
  </div>

  <div class="mb-4">
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
