<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= user.id %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= user.email %></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to 'Show', user_path(user), class: "text-blue-600 hover:text-blue-900" %>
    <%= link_to 'Edit', edit_user_path(user), class: "text-green-600 hover:text-green-900 ml-2" %>
    <%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-600 hover:text-red-900 ml-2" %>
  </td>
</tr>
