<div class="bg-white shadow-md rounded-lg p-6">
  <%= form_with(model: order, local: true) do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation" class="mb-4">
        <h2 class="text-red-600"><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
          <% order.errors.full_messages.each do |message| %>
            <li class="text-red-600"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :product_id, 'Product', class: "block text-gray-700" %>
      <%= form.collection_select :product_id, Product.all, :id, :name, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :quantity, class: "block text-gray-700" %>
      <%= form.number_field :quantity, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
    </div>

    <div class="mb-4">
      <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
