<tr>
  <td class="px-6 py-4 whitespace-nowrap"><%= order.product.name %></td>
  <td class="px-6 py-4 whitespace-nowrap"><%= order.quantity %></td>
  <td class="px-6 py-4 whitespace-nowrap"><%= order.total_price %></td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to 'Show', order_path(order), class: "text-indigo-600 hover:text-indigo-900" %>
    <%= link_to 'Edit', edit_order_path(order), class: "text-indigo-600 hover:text-indigo-900 ml-2" %>
    <%= link_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2" %>
  </td>
</tr>
