<h1 class="text-3xl font-bold mb-4">Your Orders</h1>

<% @orders.each do |order| %>
  <div class="bg-white shadow-md rounded-lg p-6 mb-4">
    <h2 class="text-xl font-bold mb-2">Order ID: <%= order.id %></h2>
    <% order.order_items.each do |item| %>
      <div class="mb-2">
        <h3 class="text-lg font-semibold">Product: <%= item.product.name %></h3>
        <p class="text-gray-700">Quantity: <%= item.quantity %></p>
        <p class="text-gray-900 font-semibold">Price: <%= number_to_currency(item.total_price) %></p>
      </div>
    <% end %>
    <p class="text-gray-900 font-semibold">Total Price: <%= number_to_currency(order.total_price) %></p>
    <div class="flex justify-between items-center mt-4">
      <%= link_to 'Show', order_path(order), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      <%= link_to 'Edit', edit_order_path(order), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
      <%= link_to 'Destroy', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>
<% end %>
