<h1 class="text-3xl font-bold mb-4">New Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block" %>
