<div class="bg-white shadow-md rounded-lg p-6">
  <h2 class="text-2xl font-bold mb-4">Order Details</h2>
  <% @order.order_items.each do |item| %>
    <div class="mb-4">
      <p><strong>Product:</strong> <%= item.product.name %></p>
      <p><strong>Quantity:</strong> <%= item.quantity %></p>
      <p><strong>Total Price:</strong> <%= number_to_currency(item.total_price) %></p>
    </div>
  <% end %>
  <div class="mt-4">
    <p class="text-xl font-semibold"><strong>Order Total Price:</strong> <%= number_to_currency(@order.total_price) %></p>
  </div>
  <div class="flex justify-between items-center mt-4">
    <%= link_to 'Edit', edit_order_path(@order), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
    <%= link_to 'Back', orders_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
    <%= button_to 'Destroy', order_path(@order), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
