<tr>
  <td class="px-6 py-4 whitespace-nowrap"><%= cart_item.product.name %></td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= form_with url: update_item_cart_path(cart_item.product), method: :patch, local: true do |form| %>
      <%= form.number_field :quantity, value: cart_item.quantity, min: 1, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      <%= form.submit "Update", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2" %>
    <% end %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap"><%= number_to_currency(cart_item.product.price * cart_item.quantity) %></td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to 'Remove', remove_item_cart_path(cart_item.product), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
  </td>
</tr>
