<h1 class="text-3xl font-bold mb-4">Your Cart</h1>

<% if @cart && @cart.cart_items.any? %>
  <div class="bg-white shadow-md rounded-lg p-6">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-50">Product</th>
        <th class="px-6 py-3 bg-gray-50">Quantity</th>
        <th class="px-6 py-3 bg-gray-50">Total Price</th>
        <th class="px-6 py-3 bg-gray-50">Actions</th>
      </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
      <% @cart.cart_items.each do |cart_item| %>
        <%= render 'cart_item', cart_item: cart_item %>
      <% end %>
      </tbody>
    </table>
    <div class="flex justify-end mt-4">
      <%= button_to 'Checkout', checkout_path, method: :post, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to 'Back to Products', products_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block" %>
