<h1 class="text-3xl font-bold mb-6">Dashboard</h1>

<% if @orders.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @orders.each do |order| %>
      <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Order ID: <%= order.id %></h2>
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Product</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <% order.order_items.each do |item| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%= item.product.name %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= item.quantity %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= number_to_currency(item.product.price) %></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= number_to_currency(item.total_price) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <p class="text-gray-900 font-semibold mt-4">Order Total Price: <%= number_to_currency(order.total_price) %></p>
        <div class="mt-4 flex justify-end space-x-2">
          <%= link_to 'Edit', edit_order_path(order), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
          <%= link_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-700">You have no orders yet.</p>
<% end %>
