<div class="bg-white shadow-md rounded-lg p-6">
  <%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation" class="mb-4">
        <h2 class="text-red-600"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li class="text-red-600"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-700" %>
      <%= form.text_field :name, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, class: "block text-gray-700" %>
      <%= form.text_area :description, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :price, class: "block text-gray-700" %>
      <%= form.number_field :price, step: 0.01, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :stock, class: "block text-gray-700" %>
      <%= form.number_field :stock, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
    </div>

    <div class="mb-4">
      <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
