<!-- app/views/products/_product_card.html.erb -->
<div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
  <div class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
    <div class="relative pb-48 overflow-hidden">
      <img class="absolute inset-0 h-full w-full object-cover" src="https://source.unsplash.com/random/300x300" alt="<%= product.name %>">
    </div>
    <div class="p-4">
      <span class="inline-block px-2 py-1 leading-none bg-orange-200 text-orange-800 rounded-full font-semibold uppercase tracking-wide text-xs">New</span>
      <h2 class="mt-2 mb-2 font-bold"><%= product.name %></h2>
      <p class="text-sm"><%= product.description %></p>
      <div class="mt-3 flex items-center">
        <span class="text-sm font-semibold">Price:</span>&nbsp;<span class="font-bold text-xl"><%= number_to_currency(product.price) %></span>
      </div>
      <div class="mt-3 flex items-center">
        <span class="text-sm font-semibold">Stock:</span>&nbsp;<span class="text-gray-700"><%= product.stock %></span>
      </div>
    </div>
    <div class="p-4 border-t border-b text-xs text-gray-700">
      <span class="flex items-center mb-1">
        <i class="far fa-clock fa-fw mr-2 text-gray-900"></i> Available
      </span>
    </div>
    <div class="p-4 flex items-center text-sm text-gray-600">
      <%= form_with url: add_item_cart_path(product), method: :post, local: true do %>
        <div class="flex items-center">
          <%= number_field_tag :quantity, 1, min: 1, max: product.stock, class: "mt-1 block w-20 border-gray-300 rounded-md shadow-sm" %>
          <%= submit_tag 'Add to Cart', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2" %>
        </div>
      <% end %>
    </div>
    <div class="p-4 flex justify-between items-center text-sm text-gray-600">
      <%= link_to 'Edit', edit_product_path(product), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
      <%= button_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>
</div>
