<tr>
  <td class="px-6 py-4 whitespace-nowrap"><%= product.name %></td>
  <td class="px-6 py-4 whitespace-nowrap"><%= product.description %></td>
  <td class="px-6 py-4 whitespace-nowrap"><%= product.price %></td>
  <td class="px-6 py-4 whitespace-nowrap"><%= product.stock %></td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to 'Show', product_path(product), class: "text-indigo-600 hover:text-indigo-900" %>
    <%= link_to 'Edit', edit_product_path(product), class: "text-indigo-600 hover:text-indigo-900 ml-2" %>
    <%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2" %>
  </td>
</tr>
