<!-- app/views/products/index.html.erb -->
<h1 class="text-3xl font-bold mb-4">Products</h1>

<% if logged_in? && current_user.seller %>
  <%= link_to 'New Product', new_product_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block" %>
<% end %>

<div class="container mx-auto">
  <div class="flex flex-wrap -mx-4">
    <% @products.each_with_index do |product, index| %>
      <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
        <div class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
          <div class="relative pb-48 overflow-hidden">
            <img class="absolute inset-0 h-full w-full object-cover" src="https://source.unsplash.com/random/300x300?sig=<%= index %>" alt="<%= product.name %>">
          </div>
          <div class="p-4">
            <span class="inline-block px-2 py-1 leading-none bg-orange-200 text-orange-800 rounded-full font-semibold uppercase tracking-wide text-xs">New</span>
            <h2 class="mt-2 mb-2 font-bold text-2xl"><%= product.name %></h2>
            <p class="text-sm"><%= product.description %></p>
            <div class="mt-3 flex items-center">
              <span class="text-sm font-semibold">Price:</span>&nbsp;<span class="font-bold text-xl"><%= number_to_currency(product.price) %></span>
            </div>
            <div class="mt-3 flex items-center">
              <span class="text-sm font-semibold">Stock:</span>&nbsp;<span class="text-gray-700"><%= product.stock %></span>
            </div>
            <div class="mt-4 flex justify-between items-center">
              <%= link_to 'Show', product_path(product), class: "text-blue-500 hover:text-blue-700" %>
              <% if logged_in? && current_user.seller %>
                <%= link_to 'Edit', edit_product_path(product), class: "text-blue-500 hover:text-blue-700 ml-2" %>
                <%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:text-red-700 ml-2" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
