<!-- app/views/products/show.html.erb -->
<h1 class="text-3xl font-bold mb-4"><%= @product.name %></h1>
<div class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
  <div class="relative pb-48 overflow-hidden">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://source.unsplash.com/random/300x300?sig=<%= @product.id %>" alt="<%= @product.name %>">
  </div>
  <div class="p-4">
    <p class="text-gray-700 mb-2"><%= @product.description %></p>
    <p class="text-gray-900 font-semibold"><%= number_to_currency(@product.price) %></p>
    <p class="text-gray-700 mb-4">Stock: <%= @product.stock %></p>
    <%= form_with url: add_item_cart_path(@product), method: :post, local: true do %>
      <div class="flex items-center">
        <%= number_field_tag :quantity, 1, min: 1, max: @product.stock, class: "mt-1 block w-20 border-gray-300 rounded-md shadow-sm" %>
        <%= submit_tag 'Add to Cart', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2" %>
      </div>
    <% end %>
  </div>
  <div class="flex justify-between items-center mt-4">
    <%= link_to 'Back to Products', products_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
    <%= link_to 'Edit', edit_product_path(@product), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-2" %>
    <%= button_to 'Destroy', product_path(@product), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2" %>
  </div>
</div>
