<!DOCTYPE html>
<html>
<head>
  <title>Amazon</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

  <!-- Ajouter le lien CDN de Tailwind CSS ici -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-800">
<nav class="bg-gray-800 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <%= link_to 'Amazon', root_path, class: "text-2xl font-bold" %>
      <%= link_to 'Products', products_path, class: "hover:underline" %>
      <% if logged_in? %>
        <%= link_to 'Dashboard', dashboard_path, class: "hover:underline" %>
        <%= link_to 'Orders', orders_path, class: "hover:underline" %>
        <%= link_to 'Cart', cart_path, class: "hover:underline" %>
      <% end %>
    </div>
    <div class="flex items-center space-x-4">
      <% if logged_in? %>
        <span class="mr-2">Logged in as <%= current_user.email %></span>
        <%= button_to 'Logout', logout_path, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
      <% else %>
        <%= link_to 'Login', login_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <%= link_to 'Register', register_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
      <% end %>
    </div>
  </div>
</nav>
<div class="container mx-auto mt-4">
  <%= yield %>
</div>
</body>
</html>
